* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%
}
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../images/forest.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}
.text {
    color: white;
    text-align: center;
    padding-bottom: 10px;
}
.text h1 {
    font-size: 40px;
}
.text p {
    font-size: 20px;
}
.text .button {
    font-size: 20px;
    height: 50px;
    width: 200px;
    background-color: #306133;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text .button:hover {
    cursor: pointer;
}